HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### etc ###
.vscode/
.DS_Store
/src/main/generated/
/src/main/resources/application-local.yml
/src/main/resources/application-test.yml
/src/main/resources/static/img/home.svg
/src/main/resources/static/img/logo.png
/src/main/resources/static/img/user.svg
/src/main/resources/static/img/users.svg
/src/main/resources/static/img/add.svg
/src/main/resources/static/img/heart.svg
/src/main/resources/static/img/search.svg
/src/main/resources/static/img/party-member.svg
/src/main/resources/static/img/back-btn.svg
/src/main/resources/static/img/profile.jpg
/src/main/resources/static/img/submit.svg
