body {
    background-color: #f5f5f5; /* 배경색 설정 */
}

/* 하단 고정 푸터 */
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 푸터 내 버튼 스타일 */
.footer-btn {
    padding: 0.5rem; /* 버튼 패딩 조절 */
    font-size: 14px; /* 아이콘 크기 조절 */
    margin-right: 1px; /* 버튼 간격 조절 */
}

/* 푸터 내 버튼 컨테이너 스타일 */
.footer-btn-container {
    display: flex;
    justify-content: space-between;
    gap: 5px; /* 버튼 간의 간격 조절 */
}

/* 전체 화면 크기에 대한 기본 스타일 */
.navbar {
    font-size: 24px;
}

/* 미디어 쿼리 (모바일 화면 - 576px 미만) */
@media (max-width: 575.98px) {
    .navbar {
        font-size: 18px;
    }
}

/* 미디어 쿼리 (태블릿 화면 - 992px 미만) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar {
        font-size: 20px;
    }
}

/* 파란색 버튼 */
.button-blue {
    filter: invert(20%) sepia(100%) saturate(10000%) hue-rotate(210deg);
}

/* 검색바 스타일 */
.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 검색 아이콘 로고 스타일 */
.search-logo {
    width: 20px;
    padding: 3px;
    cursor: auto;
}

/* 검색 입력창 스타일 */
.search-input {
    width: 240px;
    border: none;
    padding: 5px;
    background-color: transparent;
    font-size: 14px;
    color: #2f2f2f;
}

/* 검색 입력창의 포커스 시 스타일 제거 */
.search-input:focus {
    outline: none;
}

.error {
    font-size: 0.7em;
    color: red;
}

.button-border {
    border: 2px solid blue;
    box-sizing: border-box;
    border-radius: 50%;
}

.closed {
    pointer-events: none;
    opacity: 0.5;
}




