<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container py-3">
    <button class="btn btn-link px-0" onclick="window.location.href='/'">
        <img th:src="@{/img/back-btn.svg}" alt="back" style="width: 30px; height: 30px;"></button>
    <div class="card mb-3 d-flex flex-row shadow-sm rounded">
        <div class="card-body pb-0">
            <img th:src="@{/img/default-profile.png}" alt="profile" style="padding-left: 0">
            <span class="small" th:text="${party.owner}"></span>
            <small class="text-muted" style="font-size: 0.6em; padding-left: 10px">
                <span th:text="${#temporals.format(party.createdAt, 'MM/dd HH:mm')}"></span>
            </small>
            <h6 class="card-title" th:text="${party.name}" style="font-size: 1.5em;"></h6>
            <div style="display: flex; align-items: center;"></div>
            <p class="card-text" th:text="${party.content}"></p>
            <span class="border rounded mx-0 px-1" style="display: inline-block;">
                <img th:each="i : ${#numbers.sequence(1, party.count)}" th:src="@{/img/party-member.svg}" alt="member" style="width: 10px; height: 10px; opacity: 0.2">
            </span>
            <hr style="margin-top: 10px; margin-bottom: 0; opacity: 0.1;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div></div>
                <a href="#" class="btn btn-sm" style="font-size: 0.5em; color: gray">파티신청</a>
                <div></div>
                <a href="#" class="btn btn-sm" style="font-size: 0.5em; color: gray">신고하기</a>
                <div></div>
            </div>
        </div>
    </div>
    <hr>
    <div th:if="${commentsList}" th:each="comments : ${commentsList}"
         class="card mb-3 d-flex flex-row shadow-sm rounded rounded-3">
        <div class="card-body p-3">
            <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 5px">
                <span>
                    <img th:src="@{/img/default-profile.png}" alt="profile" style="padding-left: 0">
                    <span th:text="${comments.nickname}" style="margin-right: 0.5em; font-size: 0.8em; color: gray"></span>
                </span>
                <!-- 오늘 생성된 댓글일 경우 생성 시각만 표시 -->
                <span class="text-muted small" style="font-size: 0.5em"
                      th:if="${#temporals.format(comments.createdAt, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                      th:text="${#temporals.format(comments.createdAt, 'HH:mm')}"></span>
                <!-- 오늘 생성되지 않은 댓글일 경우 생성 날짜만 표시 -->
                <span class="text-muted small" style="font-size: 0.4em"
                      th:unless="${#temporals.format(comments.createdAt, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                      th:text="${#temporals.format(comments.createdAt, 'MM월 dd일')}"></span>
            </div>
            <p class="card-text small" th:text="${comments.content}"></p>
        </div>
    </div>
    <div class="card-footer" style="visibility: hidden; margin-bottom: 110px"></div>
</div>
</html>
