<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container py-3">
  <div class="card mb-3 d-flex flex-row shadow-sm rounded position-relative">
    <div class="card-body text-center">
      <img th:src="@{/img/profile.jpg}" alt="profile"
           style="width: 40%; height: auto;border-radius: 50%;" class="mx-auto py-3 d-block">
      <h5 class="card-title" th:text="${profile.nickname}" style="font-size: 1.5em;"></h5>
      <hr>
      <p class="card-text">
        <small class="text-muted">Email: <span th:text="${profile.email}"></span></small>
      </p>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 0.8em">About</h6>
      <p class="card-text" th:text="${profile.role}"></p>
      <a href="/logout" class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 m-3"
         style="padding: 0.25rem 0.5rem; font-size: 0.75rem;">Logout</a>
    </div>
  </div>
  <div class="card mb-3 d-flex flex-row shadow-sm rounded">
    <div class="card-body" style="padding-bottom: 0;">
        <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px">
          <h5 class="card-title" style="font-size: 1.1em; margin: 0; line-height: 1; color: gray">프로필 수정</h5>
        </div>
    </div>
  </div>
  <div class="card mb-3 d-flex flex-row shadow-sm rounded">
    <div class="card-body" style="padding-bottom: 0;">
      <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px">
        <h5 class="card-title" style="font-size: 1.1em; margin: 0; line-height: 1; color: gray">건의사항</h5>
      </div>
    </div>
  </div>
  <div class="card mb-3 d-flex flex-row shadow-sm rounded">
    <div class="card-body" style="padding-bottom: 0;">
      <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px">
        <h5 class="card-title" style="font-size: 1.1em; margin: 0; line-height: 1; color: gray">내가 쓴 글 보기</h5>
      </div>
    </div>
  </div>
</div>
</html>
