<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" >

<div layout:fragment="content" class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 pb-5">
            <form th:action="@{/members/signup}" th:object="${registerForm}" method="post">
                <div class="card shadow p-1" style="border-radius: 30px;">
                    <div class="p-0" style="border-radius: 30px 30px 0 0;">
                        <div class="text-black text-center py-4">
                            <h3><i class="fa fa-envelope"></i> 회원가입 </h3>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="form-group py-2">
                            <label for="email">이메일</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="email" name="email" th:field="*{email}" placeholder="이메일 주소">
                            </div>
                            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>
                        </div>

                        <div class="form-group py-2">
                            <label for="password">비밀번호</label>
                            <div class="input-group mb-2">
                                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="비밀번호">
                            </div>
                            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
                        </div>

                        <div class="form-group py-2">
                            <label for="passwordConfirm">비밀번호 확인</label>
                            <div class="input-group mb-2">
                                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" th:field="*{passwordConfirm}" placeholder="비밀번호 확인">
                            </div>
                            <p class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm error</p>
                        </div>

                        <div class="form-group py-2">
                            <label for="nickname">닉네임</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="nickname" name="nickname" th:field="*{nickname}" placeholder="닉네임">
                            </div>
                            <p class="error" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname error</p>
                        </div>

                        <div class="text-center py-3">
                            <input type="submit" value="가입하기" class="btn btn-primary btn-block rounded-2 py-2" style="width: 60%;">
                        </div>

                        <div class="text-center">
                            <a href="/members/login" class="btn rounded-2 py-2" style="width: 60%; font-size: 0.9em; text-decoration: underline; color: gray;">
                                이미 아이디가 존재합니다.
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>
